@import url('https://fonts.cdnfonts.com/css/montserrat');
                

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-bottom: 20em;
}

#menu a{
    font-size: 18px;
    font-weight: normal;
    color:#3f3f3f;

}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    color:#f3f3f3;
    text-align:center;
}

#iconos  i {
    font-size: 20px;
    padding: 0 8px;
    color:#f3f3f3;
}